.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.container {
  height: fit-content;
  width: 100%;
  padding: 0 16px;
  background-color: inherit;
}

.valueContainer {
  height: 24px;
  padding: 16px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: inherit;
}

.valueContainer:focus-within {
  outline: none;
}

.valueContainer .label {
  position: absolute;
  color: #021d3d;
  font-size: 12px;
  bottom: -3px;
}

.valueContainer .minLabel {
  left: 5px;
}

.valueContainer .maxLabel {
  right: 5px;
}

.valueContainer .tooltip {
  position: absolute;
  z-index: 20;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 36px;
  border-radius: 8px;
  color: #ffffff;
  background: #0F0F0F;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 20.25px;
}

.valueContainer .tooltip::before {
  content: '';
  position: absolute;
  background: #0F0F0F;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
  z-index: 20;
  height: 8px;
  width: 14px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
